.contactFormBox {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 24px;
  padding: 12px 8px;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 16px;
}

.inputBox {
  display: flex;
  position: relative;
  flex-direction: column;
}

.inputField {
  font-family: inherit;
  font-size: inherit;
  padding: 8px;
  border: 1px solid rgb(139, 134, 134);
  border-radius: 4px;
}

.inputField:focus {
  box-shadow: 1px 1px #2b2929;
  outline: 1px solid blue;
}

.error {
  position: absolute;
  top: 60px;
  font-family: inherit;
  font-size: inherit;
  color: red;
}
