:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  padding-bottom: 0;
  text-align: left;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 32px;
}

button {
  font-family: inherit;
  font-size: inherit;
  align-self: center;
  padding: 0 12px;
  min-width: 80px;
  height: 32px;
  border: 1px solid rgb(139, 134, 134);
  border-radius: 4px;
}

button:hover {
  box-shadow: 1px 1px #2b2929;
}

button:active {
  color: red;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
